:host() {
  .fa {
    padding-right: 15px;
    padding-bottom: 3px;
  }

  .searchBar {
    // border: 1px solid red;
    height: 70px;
    margin: 10px 40px 0px 40px;
  }

  .search {
    // border: 2px solid blue;
    width: 100%;
  }

  input {
    padding-bottom: 5px;
  }

  button {
    height: 59%;
    width: 100%;
    margin-top: 3px;
  }

  mat-form-field {
    width: 100%;
  }

  .mat-form-field-outline {
    height: 80%;
  }

  ::ng-deep .mat-form-field-flex>.mat-form-field-infix {
    padding: 0.4em 0px !important;
  }

  ::ng-deep .mat-form-field-label-wrapper {
    top: -2em;
  }

  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
  }

  ::ng-deep .ngx-datatable {
    margin: 0 40px 40px 40px;
  }


  ::ng-deep .ngx-datatable.material {
    background: #FFF;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
  }

  ::ng-deep .empty-row {
    height: 50px;
    text-align: left;
    padding: .5rem 1.2rem;
    vertical-align: top;
    border-top: 0;
  }

  ::ng-deep .loading-row {
    text-align: left;
    padding: .5rem 1.2rem;
    vertical-align: top;
    border-top: 0;
  }

  ::ng-deep .datatable-header {
    background-color: #E8EAED;

    .datatable-header-cell-label {
      font-size: 20px;
    }
  }

  ::ng-deep .datatable-header-cell {
    padding: 10px 0 0 10px;
  }

  ::ng-deep .datatable-body-row {
    border-bottom: 1px solid rgb(240, 235, 235);

    &:hover {
      cursor: pointer;
      background-color: rgb(240, 235, 235);
    }
  }

  ::ng-deep .datatable-body-cell {
    padding: 15px 0 0 10px;
  }

  ::ng-deep .datatable-footer {
    padding-left: 10px;
  }

}