<div class="newBook" fxLayout="row">
    <div fxFlex="80">
        <form class="example" action="/action_page.php">
            <input type="text" placeholder="Search.." name="search" (keyup)="updateFilter($event)">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
    </div>
    <div fxFlex="20">
     <button mat-flat-button color="primary" (click)="openModal()">
            <i class="fa fa-plus"></i>
            ADD BOOK</button>
    </div>
</div>

<div>
  <ngx-datatable
    #table
    class="material"
    [rows]="rows"
    [columns]="[{name:'Name'},{name:'Author'},{name:'Price'}]"
    [columnMode]="'force'"
    [headerHeight]="60"
    [footerHeight]="60"
    [rowHeight]="'55'"
    [externalPaging]="true"
    [count]="page.totalElements"
    [offset]="page.pageNumber"
    [limit]="page.size"
    (page)='setPage($event)'>
  </ngx-datatable>
</div>