.productModal{
    height: 400px;
    width:  600px;
    background-color: antiquewhite;
}

.newBook{
    margin: 30px 0 20px 95px;
}

.fa{
  padding-right: 10px;
  padding-bottom: 2px;
}

// input{
//   height: 40px;
//   width: 95%;
// }
button{
  width: 69%;
  height: 45px;
}


.ngx-datatable{
  margin: 0 95px 95px 95px;
}


.server-scrolling-demo {
    height: calc(100vh - 110px);
  }
  
  .server-scrolling-demo .progress-linear {
    position: fixed !important;
    bottom: 0px;
  }

  .ngx-datatable.material {
    background: #FFF;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
  }

  .empty-row{
    height:50px;
    text-align: left;
    padding: .5rem 1.2rem;
    vertical-align: top;
    border-top: 0;
 }

 .loading-row{
  text-align: left;
  padding: .5rem 1.2rem;
  vertical-align: top;
  border-top: 0;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 85%;
  height: 23px;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}