<div fxLayout="column" fxFlex="100">
<div class="searchBar"fxLayoutGap="40px" fxLayout="row wrap">
  <div class="search" fxFlex="78">
      <mat-form-field appearance="outline">
          <input matInput type="text" placeholder="Search book by name" (keyup)="updateFilter($event)" >
          <button mat-button color="primary" matPrefix mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
  </div>
  <div class="addButton" fxFlex="18">
    <button mat-flat-button color="primary" routerLink='/add-book'><i class="fa fa-plus"></i>ADD BOOK</button>
  </div>
</div>

<div>
  <ngx-datatable
    class="material"
    [rows]="rows"
    [columns]="datatableColumns"
    [columnMode]="'force'"
    [headerHeight]="60"
    [footerHeight]="60"
    [rowHeight]="'55'"
    [externalPaging]="true"
    [count]="page.totalElements"
    [offset]="page.pageNumber"
    [limit]="page.size"
    (page)='setPage($event)'
    >
  </ngx-datatable>

  <ng-template #updateTemplate let-row="row" let-value="value">
    <div fxFlex="100" fxLayoutGap="30px">
      <div fxFlex="20">
        <mat-icon class="mat-18" (click)="delete(row)">delete</mat-icon>
      </div>
      <div fxFlex="20">
          <mat-icon class="mat-18" (click)="update(row)">edit</mat-icon>
      </div>
    </div>
  </ng-template>
</div>

</div>