<mat-toolbar *ngIf="loggedIn" color="primary">
  <button  (click)="sidenav.toggle()">
    <mat-icon class="mat-18" color="accent">menu</mat-icon>
  </button>
  <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="80">
      <span class="title">Book Shop</span>
    </div>

    <div *ngIf="loggedIn" fxFlex="21">
      <div fxLayout="row wrap" [matMenuTriggerFor]="menu">
        <div fxLayout="row wrap">
          <mat-card class="profile">
            <mat-card-header>
              <div mat-card-avatar [ngStyle]="{ 'background-image': 'url(' + imageurl + ')'}"
                class="example-header-image"></div>
              <mat-card-title>{{currentUser.name}}</mat-card-title>
              <mat-icon>keyboard_arrow_down</mat-icon>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item><mat-icon>account_circle</mat-icon>My Profile</button>
        <button mat-menu-item [routerLink]="['/login']" routerLinkActive="router-link-active" (click)="onLogOut()"><mat-icon>exit_to_app</mat-icon>Log
          out</button>
      </mat-menu>
    </div>

  </div>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #sidenav mode="side" opened>
      <app-nav-bar *ngIf="loggedIn"></app-nav-bar>
    </mat-drawer>
    <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>