
<div class="navbar" fxLayout="column wrap">
  <div>
    <ul>
      <li><a mat-button color="primary" routerLink="/home" >Dashboard</a></li>
      <li><a mat-button matBadge="1" matBadgeOverlap="true" matBadgePosition="after" matBadgeColor="accent" color="primary" routerLink="/home">My Cart</a></li>
      <li><a mat-button color="primary" routerLink="/manageproduct" >Product Mangemen</a></li>
    </ul>
    <!-- <a mat-button color="primary" routerLink="/home" >Home</a>
    <a mat-button matBadge="1" matBadgeOverlap="true" matBadgePosition="after" matBadgeColor="accent" color="primary" routerLink="/home">Shopping Cart</a>
    <a mat-button color="primary" routerLink="/manageproduct" >Product Mangemen</a> -->
  </div>
</div>
