
<div class="navbar" fxLayout="column">
    <div class="navText" routerLink="/home">
      <span>
          <a  color="primary" >Dashboard</a>
      </span>
    </div>

    <div class="navText" routerLink="/shopping-cart">
      <span> 
        <a  matBadge="{{numberOfBooks}}" matBadgeOverlap="false" matBadgePosition="after" matBadgeColor="accent" color="primary"> My Cart</a>
      </span>
    </div>

    <div class="navText" routerLink="/manageproduct" >
      <span>
        <a  color="primary" >Management</a>
      </span>
    </div>
    
</div>
