.bookStore{
    padding: 10px 0 0 95px;
}

.price{
    padding-right: 42%;
    margin-bottom: 10px;
    width: 100%;
}

.example-card {
    max-width: 300px;
  }
  
  .example-header-image {
    background-size: cover;
  }

img{
      height: 300px;
}

mat-card-title{
    font-size: 18px;
}
.ss{
  width: 100%;
}
.example-card{
  min-width: 300px;
  max-width: 300px;
  padding-right: 20px;
  margin-bottom: 30px;
}
