<div  fxFlexAlign="center start" fxLayout="column">
  <mat-card class="card" fxFlexAlign="center">
      <mat-card-header>
          <mat-card-title>Add Book</mat-card-title>
          <mat-card-subtitle>Add a new book item here</mat-card-subtitle>
      </mat-card-header>
      <form [formGroup]="formAddBook" (ngSubmit)="onSubmit()" >
        <div fxLayout="column" fxLayoutGap="20px">

          <div fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Book Name</mat-label>
              <input matInput name="bookName" formControlName="bookname">
              <mat-hint>
                <div class="errorMessage" *ngIf="getFormErrors.bookname.touched && getFormErrors.bookname.invalid">
                  <small *ngIf="getFormErrors.bookname.errors?.required">This is required</small>
                  <small *ngIf="getFormErrors.bookname.errors?.minlength">Minimum length 3 or higher</small>
              </div>
              </mat-hint>
            </mat-form-field>
           
          </div>

          <div fxFlex="100">
            <mat-form-field appearance="outline">
              <mat-label>Author Name</mat-label>
              <input matInput name="authorName" formControlName="authorname" required>
              <mat-hint>
                <div class="errorMessage" *ngIf="getFormErrors.authorname.touched && getFormErrors.authorname.invalid">
                  <small *ngIf="getFormErrors.authorname.errors?.required">This is required</small>
                  <small *ngIf="getFormErrors.authorname.errors?.minlength">Minimum length 3 or higher</small>
              </div>
              </mat-hint>
            </mat-form-field>
          </div>

          <div fxFlex="100">
              <mat-form-field appearance="outline">
                <mat-label>Price</mat-label>
                <input matInput name="price" type="number" formControlName="price" required>
                <mat-hint>
                  <div class="errorMessage" *ngIf="getFormErrors.price.touched && getFormErrors.price.invalid">
                    <small *ngIf="getFormErrors.price.errors?.required">This is required</small>
                    <small *ngIf="getFormErrors.price.errors?.min">Price should be greater than 0</small>
                </div>
                </mat-hint>
              </mat-form-field>
            </div>

            <div fxFlex="100">
                <mat-form-field appearance="outline">
                  <mat-label>Image Url</mat-label>
                  <input matInput name="imageUrl" formControlName="imageurl" required>
                  <mat-hint>
                    <div class="errorMessage" *ngIf="getFormErrors.imageurl.touched && getFormErrors.imageurl.invalid">
                      <small *ngIf="getFormErrors.imageurl.errors?.required">This is required</small>
                      <small *ngIf="getFormErrors.imageurl.errors?.pattern">Enter correct pattern</small>
                  </div>
                  </mat-hint>
                </mat-form-field>
              </div>

        </div>
        <mat-card-actions align="start">
          <button mat-flat-button type="submit">Submit</button>
          
      </mat-card-actions>
      </form>

      <mat-card-footer id="haha">
          <!-- Footer -->
      </mat-card-footer>
  </mat-card>
</div>