.card {
    width: 600px;
    // background-color: honeydew;
    flex-direction: flex;
    float: center;
    padding: 60px !important;
}

.mat-form-field{
    width: 85%;
}
.errorMessage{
    color: red;
    font-size: 16px;
}

button{
    background-color: rgb(74, 74, 236);
}