.card {
    width: 600px;
    // background-color: honeydew;
    flex-direction: flex;
    float: center;
    padding: 60px !important;
}

.mat-form-field{
    width: 85%;
}
.errorMessage{
    color: red;
    font-size: 16px;
}

mat-card-actions{
    margin: 0px;
}