.nav {
    width: 96%;
    background-color: rgb(214, 219, 221) !important;
    height: 70px !important;
    /* text-align: center; */
    margin: 0 auto;
    padding: 0 1.5em;
    margin-bottom: 20px;
}
.abc{
    font-size: 40px !important;
    color: rgb(22, 3, 3);
}
.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 1.5em;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}
.btnn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
    margin-left: 73%;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}
.btnn-primary:hover {
    background-color: red !important;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
    width: 200px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(252, 243, 243);
}



