:host() {
  .bookStore {
    padding: 10px 0 0 40px;
  }

  .price {
    padding-right: 42%;
    margin-bottom: 10px;
    width: 100%;
  }

  .example-card {
    max-width: 300px;
  }

  .example-header-image {
    background-size: cover;
  }

  img {
    height: 160px;
  }

  mat-card-title {
    font-size: 18px;
  }
  .ss {
    width: 100%;
  }
  .example-card {
    min-width: 262px;
    max-width: 262px;
    padding-right: 20px;
    margin-bottom: 30px;
  }
}
