<div fxLayout="row wrap" fxLayoutGap="32px" class="bookStore">
  <div fxLayoutGap="10px" fxLayout="row wrap" *ngFor="let book of books">
    <mat-card class="example-card" fxLayoutGap="10px">
      <mat-card-header>
        <div mat-card-avatar [ngStyle]="{ 'background-image': 'url(' + book.imageurl + ')'}" class="example-header-image"></div>
        <mat-card-title>{{book.name}}</mat-card-title>
        <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{book.imageurl}}" alt="Photo of a Shiba Inu">

      <div fxLayout="column">
        <span class="price">Tk. {{book.price}}</span>
        <button class="ss" *ngIf="!getQuantity(book.bookid)" fxFlexAlign="end" mat-flat-button color="primary" (click)="addToCart(book)">Add To Cart</button>
        <div fxFlex="100" *ngIf="getQuantity(book.bookid)" fxLayout="row" fxFlexAlign="space-around">
          <button mat-flat-button color="primary">-</button>
          <button mat-flat-button color="primary">+</button>
        </div>
      </div>
      
    </mat-card>
  </div>
</div>